        .logo img {
            width: 164px;
        }

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .right ul {
            display: flex;
            gap: 34px;
        }

        .right ul li {
            list-style: none;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .right ul li span {
            padding: 0 5px;
        }

        .first {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 23px;
            margin: 70px;
            font-family: sans-serif;
        }

        .first span {
            font-size: 40px;
        }

        section span img {
            width: 82px;
            margin: 0 23px;
        }

        .first p {
            font-size: 23px;
            width: 44vw;
            text-align: center;
        }

        .btn {
            font-size: 14px;
            background-color: #00b6d1;
            color: white;
            padding: 14px 16px;
            border-radius: 5px;
            border: none;
            font-weight: bold;
            font-style: normal;
            text-transform: uppercase;
            text-decoration: none;
            cursor: pointer;
            margin: 12px 0;
        }

        .btn a {
            text-decoration: none;
            color: white;
        }

        .green {
            background-color: #5cb85c;
        }

        .flex {
            display: flex;
        }

        .large {
            font-size: 23px;
            /* padding-bottom: 30px; */
        }

        .small {
            font-size: 15px;
        }

        .second .download img {
            border-radius: 5px;
            /* size: 30px; */
            padding: 0 12px;

        }

        .download {
            display: flex;
            align-items: center;
            gap: 5px;
            font-family: sans-serif;

        }

        .second {
            /* display: flex; */
            /* flex-direction: column; */
            /* align-items: center; */
            max-width: 62.2vw;
            margin: auto;
        }

        .item {
            padding: 23px;
            background-color: rgb(249, 249, 249);
            border-radius: 12px;
            font-size: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
        }

        .item-lang {
            font-weight: 700;
            text-align: center;
            padding-bottom: 36px;
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            /* grid-template-rows: 4; */
            gap: 12px;
        }

        @media screen and (max-width: 1145px) {
            .grid {
                display: grid;
                grid-template-columns: 1fr;
                gap: 12px;
            }
        }